{% extends 'intro/base.html' %}
{% block header %}
<h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<p>
<a href="{% url 'intro:new_entry' topic.id %}">Add new entry</a>
</p>

<ul>
	{% for entry in entries %}
	<div class="panel panel-default">
	<div class="panel-heading">
	<h4>
		<b>{{entry.owner}}</b> - RSA Modulo: {{entry.RSA_modulo}} - RSA Public Key: {{entry.RSA_public}} - {{ entry.date_added|date:'M d, Y H:i' }}
		<small>
		<a href="{% url 'intro:decrypt_entry' entry.id %}">
			Decrypt Message - </a>		
		{% if entry.owner == user%}
		<a href="{% url 'intro:edit_entry' entry.id %}">
			edit entry</a>
		{% endif %}
		</small>
	</h4>
	</div>
	<div class="panel-body">
	Encrypted Text: {{ entry.encrypted_text|linebreaks }}
	</div>
	</div> <!-- panel -->

	{% endfor %}

</ul>

<p>
<a href="{% url 'intro:new_entry' topic.id %}">Add new entry</a>
</p>
{% endblock content %}