{% extends 'intro/base.html' %}
{% block content %}
<p>Topic: {{ topic }}</p>
<p>Entries:</p>
<p>
<a href="{% url 'intro:new_entry' topic.id %}">Add new entry</a>
</p>

<ul>
	{% for entry in entries %}
<li>
	<p>Encrypted Text: {{ entry.encrypted_text|linebreaks }}</p>
	<p>{{entry.owner}} - RSA Modulo: {{entry.RSA_modulo}} - RSA Public Key: {{entry.RSA_public}} - {{ entry.date_added|date:'M d, Y H:i' }}</p>
{% if entry.owner == user%}

<p>
<a href="{% url 'intro:edit_entry' entry.id %}">edit comment</a>
</p>
{% endif %}

</li>
{% empty %}
<li>
There are no entries for this topic yet.
</li>
{% endfor %}

</ul>

<p>
<a href="{% url 'intro:new_entry' topic.id %}">Add new entry</a>
</p>
{% endblock content %}